/*generali*/

.my-container{
  width: 70%;
  margin: 0 auto;
}

header, .jumbotron, .about, footer{
  color:white;
}

h3{
  text-align: center;
}

/*divisore ricorrente con stella */
.divide{
  width: 130px;
  height: 4px;
  border-radius: 5px;
}

.bi-star-fill{
  font-size: 1.7rem;
  padding: 0 25px;
}

.divide.white{
  background-color: white;
}

.divide.dark{
  background-color: #2c3e50;
}


/*header*/
header{
  background-color: #2c3e50;
  height: 90px;
  display: flex;
  align-items: center;
}

header .my-hamburger{
  border: none;
}

/*main*/

/*jumbotron*/
main .jumbotron{
  background-color: #1abc9c;
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .jumbotron .image{
  width: 200px;
  margin: 0 auto;
}

main .jumbotron .my-star{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*portfolio*/
main .portfolio .card img{
  max-width: 100%;
}

/*about*/
main .about{
  background-color: #1abc9c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*contact me*/
main .contact-me{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form .form-control{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.my-btn{
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

/*footer*/

/*footer-top*/
footer .footer-top{
  
  background-color: #3a546d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid white;
  margin: 7px;
  cursor: pointer;
}

footer .footer-top .my-span{
  color: #1abc9c;
  cursor: pointer;
}

/*footer bottom*/
footer .footer-bottom{
  
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}